*.dll
*.exe
*.ipch
*.sdf
*.suo
*.filters
*.tlog
*.res
*.rc
*.log
*.pdb
*.idb
*.ilk
*.lastbuildstate
*.lib
*.manifest
*.exp
*.zip
*.opensdf
*.user.*
*.xcuserstate
*.xcworkspace
*.xcuserdata
*.xcuserdatad
*.orig
*.unityPackage
*.sln
*.csproj
Temp/
Library/
Work/
Build/
Assets/UnityVS*
